#gitignore
*.DS_Store

# dependencies
/website/node_modules

# next.js
/website/.next/
/website/out/

# production
/website/build

# debug
/website/npm-debug.log*
/website/yarn-debug.log*
/website/yarn-error.log*
/website/.pnpm-debug.log*

# env files
/website/.env*

# vercel
/website/.vercel

# typescript
/website/*.tsbuildinfo
/website/next-env.d.ts