@import url('https://mui.kernelsu.org/mmrl/insets.css');

:root {
    --top-inset: var(--window-inset-top, 0px);
    --bottom-inset: var(--window-inset-bottom, 0px);

    /* Background colors */
    --bg-primary: #FFF2F1;
    --bg-secondary: #fff;
    --bg-overlay: #FFF2F1;
    --bg-input: #F5F5F5;

    /* Text colors */
    --text-primary: #000;
    --text-secondary: #757575;

    /* Border colors */
    --border-color: #ccc;

    /* Button colors */
    --btn-primary: #D51200;
    --btn-primary-text:#fff;

    /* Logo color */
    --logo-bg: #D51200;
    --logo-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Background colors */
        --bg-primary: #151515;
        --bg-secondary: #292929;
        --bg-overlay: #292929;
        --bg-input: #1b1b1b;

        /* Text colors */
        --text-primary: #fff;
        --text-secondary: #C2C2C2;

        /* Border colors */
        --border-color: #636363;

        /* Logo color */
        --logo-bg: #fff;
        --logo-color: #D51200;
    }
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding-top: var(--top-inset);
    padding-bottom: var(--bottom-inset);
    transition: padding-bottom 0.2s ease;
    margin: 0;
}

body.input-focused {
    padding-bottom: 50vh;
}

.content {
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.header {
    font-size: 35px;
    font-weight: bold;
    color: var(--btn-primary-text);
    background-color: var(--btn-primary);
    align-items: center;
    position: relative;
    width: calc(90vw - 30px);
    max-width: 800px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
    user-select: none;
}

.festival {
    display: block;
    position: absolute;
    top: 0;
}

.festival img {
    width: 100%;
    height: auto;
}

.about {
    position: absolute;
    right: 15px;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1100;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.overlay-content {
    position: relative;
    width: calc(90vw - 60px);
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    background: var(--bg-overlay);
    border-radius: 12px;
    padding: 30px;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: opacity 0.2s ease;
}

.overlay-content h2 {
    margin: 0;
    user-select: none;
}

.overlay-content p {
    user-select: none;
}

.centered-header {
    width: 100%;
    text-align: center;
}

.permission-steps {
    text-align: left;
}

.permission-steps ol {
    padding: 0 25px;
}

.permission-steps li {
    margin-top: 10px;
}

.confirmation-btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 5px;
    user-select: none;
}

.confirmation-btn {
    padding: 10px;
    background-color: inherit;
    color: currentColor;
    border-radius: 20px;
    border: none;
}

.close-about {
    position: absolute;
    top: 15px;
    right: 12px;
    background: none;
    border: none;
    font-size: 18px;
    color: var(--border-color);
    user-select: none;
}

.about-content {
    text-align: center;
    max-height: calc(95vh - 60px);
    overflow-y: auto;
}

.about-logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    background-color: var(--logo-bg);

    svg {
        fill: var(--logo-color);
    }
}

.about-content p {
    margin: 0;
    font-size: 14px;
}

.credit-list {
    text-align: left;
}

#module-name {
    padding-top: 5px;
    font-size: 28px;
    user-select: none;
}

#author {
    font-size: 14px;
    user-select: none;
}

#credits {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

.link {
    width: auto;
}

.link-icon {
    display:inline-block;
    font-style: normal;
    padding: 3px 10px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: background-color 0.2s ease;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.link-icon object {
    padding-bottom: 2px;
    vertical-align: bottom;
    height: 17px;
    width: 17px;
}

#telegram {
    background-color: #38A7ED;
}

#github {
    background-color: #606060;
}

#xda {
    background-color: #FF8002;
    color: #fff;
}

#sponsor {
    background-color: #E7D705;
}

#link-text {
    font-size: 17px;
    font-weight: bold;
}

.box {
    width: 90vw;
    max-width: 800px;
    background-color: var(--bg-secondary);
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    box-sizing: border-box;
    transition: background-color 0.2s ease;
    user-select: none;
}

.box h2 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    user-select: none;
}

#version-status {
    font-size: 14px;
    user-select: none;
}

.toggle-container {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    padding: 0;
    text-align: left;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    margin-left: auto;
    flex-shrink: 0;
    width: 40px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--btn-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--btn-primary);
}

input:checked+.slider:before {
    transform: translateX(15px);
}

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.control-icon {
    padding-top: 5px;
    padding-right: 7px;
    fill: var(--text-primary);
}

.category-container {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.category-container input {
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    outline-color: var(--btn-primary);
    color: var(--text-primary);
    background-color: var(--bg-input);
    width: calc(100% - 35px);
    height: 35px;
    padding-left: 10px;
}

.category-container button {
    display: flex;
    border-radius: 8px;
    height: 35px;
    width: 35px;
    font-size: 25px;
    font-weight: bold;
    background-color: var(--btn-primary);
    border: none;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transform: translateX(110%);
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--btn-primary);
}

.box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box li {
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 8px 0;
    border-bottom: 1px solid var(--border-color);
}

.box li span {
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    flex-grow: 1;
}

li:last-child {
    border-bottom: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: var(--border-color);
}

.prompt {
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: #4CAF50;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    z-index: 1300;
    width: auto;
    max-width: calc(100% - 40px);
    transform: translateY(100%);
    transition: transform 0.2s ease;
}

.prompt.error {
    background-color: #f44336;
}

.footer {
    padding: 30px;
    padding-bottom: calc(var(--bottom-inset) + 30px);
    position: relative;
    text-align: center;
}

.ripple-container {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    animation: ripple-animation ease-out forwards;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
}

.ripple.end {
    opacity: 0;
}

@keyframes ripple-animation {
    to {
        transform: scale(3);
    }
}