body {
    background-color: #FFF2F1;
    padding-top: var(--window-inset-top);
    padding-bottom: var(--window-inset-bottom);
}

body.input-focused {
    padding-bottom: 300px;
}

.content {
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.header {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background-color: #D51200;
    align-items: center;
    position: relative;
    width: 85vw;
    max-width: 800px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.about {
    position: absolute;
    right: 15px;
}

.about-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.about-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    max-width: 600px;
    transform: translate(-50%, -50%);
    background: #FFF2F1;
    border-radius: 12px;
    padding: 35px 20px;
    z-index: 1200;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: opacity 0.2s ease;
}

.close-about {
    position: absolute;
    top: 15px;
    right: 12px;
    background: none;
    border: none;
    font-size: 18px;
    color: #ccc;
}

.about-content {
    text-align: center;
}

.about-content p {
    margin: 0;
    font-size: 14px;
}

.credit-list {
    text-align: left;
}

#module-name {
    padding-top: 5px;
    font-size: 28px;
}

#author {
    font-size: 14px;
}

#credits {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.link {
    width: auto;
}

.link-icon {
    display:inline-block;
    font-style: normal;
    padding: 5px 10px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: background-color 0.2s ease;
}

.link-icon object {
    padding-bottom: 2px;
    vertical-align: bottom;
    height: 17px;
    width: 17px;
}

#telegram {
    background-color: #38A7ED;
}

#telegram:active {
    background-color: #0B76BA;
}

#github {
    background-color: #606060;
}

#github:active {
    background-color: #211C1C;
}

#xda {
    background-color: #FF8002;
    color: #fff;
}

#xda:active {
    background-color: #A95400;
    color: #fff;
}

#sponsor {
    background-color: #E7D705;
}

#sponsor:active {
    background-color: #968B00;
}

#link-text {
    font-size: 17px;
    font-weight: bold;
}

.box {
    position: relative;
    width: 85vw;
    max-width: 800px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: background-color 0.2s ease;
}

.box h2 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#version-status {
    font-size: 14px;
}

.toggle-container {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    padding: 0;
    white-space: nowrap;
    text-align: left;
}

.control-icon {
    padding-top: 5px;
    padding-right: 7px;
    fill: #000000;
}

.category-container {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.category-container input {
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: calc(100% - 35px);
    height: 35px;
    padding-left: 10px;
}

.category-container button {
    display: flex;
    border-radius: 8px;
    height: 35px;
    width: 35px;
    font-size: 25px;
    font-weight: bold;
    background-color: #D51200;
    border: none;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.current-mode-text:active,
.action-button:active,
.category-container button:active {
    background-color: #850B00;
}

.box:active {
    background-color: #ccc;
}

#whitelist:active,
#blacklist:active {
    background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 3px;
    border-bottom: 1px solid #ccc;
}

li span {
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: calc(100% - 40px);
}

li:last-child {
    border-bottom: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #ccc;
}

.prompt {
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: #4CAF50;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    z-index: 1000;
    transform: translateY(100%);
    transition: transform 0.5s ease, background-color 0.2s ease;
    width: auto;
    max-width: 88vw;
    z-index: 1300;
}

.prompt.visible {
    animation: YbounceIn 0.4s forwards;
}

.prompt.hidden {
    animation: YbounceOut 0.4s forwards;
}

.prompt.error {
    background-color: #f44336;
}

@keyframes YbounceIn {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(-60%);
    }
}

@keyframes YbounceOut {
    0% {
        transform: translateY(-60%);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(100%);
    }
}

.footer {
    padding: 30px;
    position: relative;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #fff;
    }

    li {
        border-bottom: 1px solid #6E6E6E;
    }

    #whitelist:active,
    #blacklist:active,
    .about-menu,
    .box {
        background-color: #343434;
    }

    .category-container input {
        color: #fff;
        background-color: #232323;
        border: 1px solid #6E6E6E;
    }

    .control-icon {
        fill: #fff;
    }

    .box:active,
    .slider {
        background-color: #6E6E6E;
    }
}